.inner-container {
display: block;
width: 545px;
margin: 35px auto;
text-align: center;
}

.form-search {
margin: 15px 5px;    
width: 540px;
border-radius: 0; 
height: 25px;
}

.footer {
 padding-top: 15px;
 position: absolute;
 bottom: 0;
 width: 100%;
}

.buttons {
padding: 6px 12px;
font-size: 14px;
line-height: 3px;
text-align: center;
border-radius: 3px;
color: #333;
background-color: #fff;
border: 1px solid #ccc;
}
a {
text-decoration: none;
}